<h1>UserDrinks#index</h1>
<p>Find me in app/views/user_drinks/index.html.erb</p>
<%= link_to "Add a drink", drinks_path, class: "btn btn-success" %>

<ul>
  <% @user_drinks.each do |user_drink| %>
    <li><%= user_drink.drink.name %> - <%= user_drink.created_at %></li>
  <% end %>
</ul>


